# EDGE - @datf Add-ons

## WARNING! THIS IS AN EDGE REPOSITORY

This Add-ons repository contains edge builds of add-ons. Edge
builds add-ons are based upon the latest development version.

- They may not work at all.
- They might stop working at any time.
- They could have a negative impact on your system.

This repository was created for:

- Anybody willing to test.
- Anybody interested in trying out upcoming add-ons or add-on features.
- Developers.

If you are more interested in stable releases of these add-ons:

<https://github.com/datf/hassio-addons>

## Installation

Use the following URL to add this repository to your Home Assistant:

```txt
{{ repo }}
```

## Apps provided by this repository

{% for addon in addons %}
### &#10003; {{ addon.name }}

{{ addon.description }}

{% endfor %}
## Releases

Releases are based on [Semantic Versioning][semver], and use the format
of ``MAJOR.MINOR.PATCH``. In a nutshell, the version will be incremented
based on the following:

- ``MAJOR``: Incompatible or major changes.
- ``MINOR``: Backwards-compatible new features and enhancements.
- ``PATCH``: Backwards-compatible bugfixes and package updates.
